<div class="container-fluid confirm_contact_div">
  <div class="row">
    <div class="col-12 col-lg-8">

      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12">
          <div class="confirm_contact_heading text-center">
            Твојата порака е испратена!
          </div>
          <hr/>
          <div class="text-center">
            Ти благодариме што не контактираше! Твојата порака е зачувана и ќе ти одговориме
            во најкраток можен рок.
          </div>
          <div>
            <button class="btn btn-block confirm_contact_button" (click)="goHome()">Оди на почетна</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 banner_div">
      <app-side-banner></app-side-banner>
    </div>
  </div>
</div>