<div class="container-fluid share_div">
  <div class="row">
    <div class="col-12 col-lg-8">

      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12">
          <div class="confirm_share_heading text-center">
            Твоето искуство е пратено!
          </div>
          <hr/>
          <div class="text-center">
            Ти благодариме што одвои време и му помогна на некој иден учесник на програмата! Твоето искуство е испратено и ќе биде објавено
            во најкраток можен рок.
          </div>
          <div>
            <button class="btn btn-block confirm_share_button" (click)="goHome($event)">Оди на почетна</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 banner_div">
      <app-side-banner></app-side-banner>
    </div>
  </div>
</div>