.nav-link{
    color: #eadfc9 !important;
}

.footer{
    padding: 15px 10% 15px 10%;
    /* height: 70px; */
    background-color: rgba(192, 69, 38, 1);
    overflow-x: hidden;
}

.footer a{
    color: #eadfc9 !important;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;  
}

.footer a:hover{
    color: #eeb8aa !important;
}

@media screen and (max-width: 640px) {
    .homepage_div{
        height: 400px;
    }
}