<!-- <div class="container-fluid footer">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="float-left">
        <span *ngFor="let item of footerItems" class="footer-span">
          <a href="{{ item.route }}">{{item.displayName}}</a>
        </span>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="float-right">
        <span>
          <a href="#">
            {{ this.contactEmail }}
          </a>
        </span>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid footer">
  <div class="row">
    <div *ngFor="let item of footerItems" class="col-12 col-sm-2 col-xl-1 text-center">
      <a routerLink="{{ item.route }}">{{item.displayName}}</a>
    </div>
    <div class="col-12 col-sm-2 col-xl-4">

    </div>
    <div class="col-12 col-sm-6 col-xl-6 text-center">
      <a href="#">{{ this.contactEmail }}</a>
    </div>
  </div>
</div>