<div class="homepage_div">

</div>
<div class="container">
    <div class="row text-center">
        <div class="col-12 col-md-4 homepage_content">
            <img src="../../../assets/images/Globe-128.png" class="homepage_icon"/>
            <span>
                {{ paragraph_1 }}
            </span>
        </div>
        <div class="col-12 col-md-4 homepage_content">
            <img src="../../../assets/images/Light-Bulb-128.png" class="homepage_icon"/>
            <span>
                {{ paragraph_2 }}
            </span>
        </div>
        <div class="col-12 col-md-4 homepage_content">
            <img src="../../../assets/images/User-Group-128.png" class="homepage_icon"/>
            <span>
                {{ paragraph_3 }}
            </span>
        </div>
    </div>
    <hr/>
    <p class="text-center homepage_disclaimer">
        {{ disclaimer }}
    </p>
</div>