.homepage_div{
    background-image: url("../../../assets/images/homepage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background: url("../../../assets/images/homepage.jpg") no-repeat center center;
    background-size: cover; */
    /* background-size: auto auto;
    margin-left: -210px;
    margin-right: -301px; */
    /* padding-left: 301px;
    padding-right: 301px;
    border-left: 0px;
    border-right: 0px; */
    
    height: 900px;
}


@media screen and (max-width: 640px) {
    .homepage_div{
        height: 400px;
    }
}

@media screen and (max-width: 800px) {
    .homepage_div{
        height: 600px;
    }
}

.homepage_icon{
    display: block;
    margin: auto;
    padding: 20px;
}

.homepage_content{
    padding: 60px 30px 30px 30px;
}

hr{
    border: none;
    height: 1px;
    background-color: black;
    color: black;
}

.homepage_disclaimer{
    padding-bottom: 50px;
    font-size: 12px;
}

.main_paragraph {
    margin-top: 80px;
}

.main_paragraph h1 {
    color: #c04526;
    font-family: 'Bad Script', cursive;
    font-size: 50px;
}

.main_paragraph h4 {
    /* color: #c04526; */
    font-weight: normal;
}