<!-- <div *ngFor="let city of cities | async">
  {{city.name}}
</div> -->

<div class="container-fluid testemonials_div">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 thumbs_div">
      <div class="row">
        <div *ngFor="let city of cities | async" class="col-xl-3 col-lg-4 col-md-6 col-6 city_div">
          <a href="{{ city.route_name }}">
              <img src="{{ city.img_url }}" alt="city.name" class="city_thumb"/>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <app-side-banner></app-side-banner>
    </div>
  </div>
</div>