<div class="container-fluid advices_div">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-8">
      <div *ngFor="let advice of advices" class="advice_div">
        <h5>{{ advice.title }}</h5>
        <span> {{ advice.intro }} </span>
        <ul>
          <li *ngFor="let bullet of advice.bullets">
            {{ bullet }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 banner_div">
      <app-side-banner></app-side-banner>
    </div>
  </div>
</div>