@media screen and (min-width: 840px) {
    .advices_div{
        margin: auto;
        max-width: 1200px;
    }
}

.advices_div{
    padding: 40px 30px 40px 30px;
    /* border: 1px solid blue; */
}

.advice_div{
    /* border: 1px solid blue; */
    margin-bottom: 100px;
}

.banner_div{
    /* border: 1px solid blue; */
}

.advices_content_title{
    color: #c04526;
}