@media screen and (min-width: 840px) {
    .share_div{
        margin: auto;
        max-width: 1200px;
    }
}

.share_div{
    padding: 40px 30px 40px 30px;
    border: 1px solid blue;
}

.banner_div{
    border: 1px solid blue;
}

.share_form{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #c04526;
}

.share_form h5, .share_form button{
    background-color: #c04526;
    color: white;
}
.card{
    border: 1px solid #c04526;
}
.card-header{
    background-color: #c04526;
    color: white;
}

.card-body{
    background-color: #f3e9d8;
}

.card-footer{
    background-color: #e7d3b1;
}

.invalid input, .invalid textarea, .invalid select{
    border-color: #c04526;
}

.invalid input:focus, .invalid textarea:focus, .invalid select:focus{
    /* box-shadow:none !important; */
    border-color: #c04526;
    outline: 0;
}

.valid{
    color: black;
}

.error-message{
    color: #c04526;
    font-size: 14px;
}

.share_custom_input{
    width: 100px !important;
}