<div class="container-fluid share_div">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-8">
      <form class="share_form form-horizontal" #shareForm="ngForm" (ngSubmit)="saveTestemonial(shareForm)">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h5 class="panel-title">Сподели искуство</h5>
          </div>

          <div class="panel-body">
            <div class="form-group row" [class.has-error]="agencyControl.invalid && agencyControl.touched" [class.has-success]="agencyControl.valid">
              <label for="agency" class="control-label col-sm-3">Агенција:</label>
              <div class="col-sm-9">
                <input #agencyControl="ngModel" id="agency" [(ngModel)]="agency" name="agency" type="text" class="form-control" required/>
              </div>
              <div class="text-danger col-12" *ngIf="agencyControl.invalid && agencyControl.touched">Полето агенција е задолжително</div>
            </div>
          </div>

          <div class="panel-footer">
            <button class="btn" [disabled]="shareForm.invalid" type="submit">Сподели</button>
          </div>
        </div>
      </form>
      {{ shareForm.value | json }}
    </div>
    <div class="col-12 col-md-6 col-lg-4 banner_div">
      <app-side-banner></app-side-banner>
    </div>
  </div>
</div>