.navbar-brand>img {
    height: 60px;
    /* padding: 5px; */
    width: auto;
}

.navigation-bar{
    /* height: 70px; */
    background-color: #c04526;
}

.nav-link{
    color: #eadfc9 !important;
}

.nav-link:hover{
    color: #eeb8aa !important;
}

.nav-item{
    padding-right:20px;
}
