<nav class="navbar navbar-expand-lg navbar-light navigation-bar">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../assets/images/logo.png" class="img-responisve" id="logo" alt="logo" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li *ngFor="let item of navigationItems" class="nav-item">
        <a class="nav-link" routerLink="{{ item.route }}">{{item.displayName}}</a>
      </li>
    </ul>
  </div>
</nav>